* {
    padding: 0px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: grey;
    background-color: rgb(32, 31, 31);
}

.no_header_or_footer {
    padding: 20px;
    margin: auto;
    height: 55vh;
    overflow-x: hidden;
}
/* #profile-info {
    border: 5px solid red;
}
#profile-info img {
    border: 5px solid blue;
}
#profile-info p {
    border: 5px solid green;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    margin-bottom: 1em;
}
#profile-info h2 {
    border: 5px solid purple;
}
#profile-info button {
    border: 5px solid brown;
} */
.header {
    margin: 0px;
    padding: 10px 0 0 0;
}
#CHESS-MASTER {
    border-radius: 8px;
}


.profile-scroll {
    animation: last-name-load 1.25s cubic-bezier(0.63,-0.05, 0.54, 1.38);
    transform: translateX(100%);
    animation-fill-mode: forwards;

}

@keyframes last-name-load {
    0% {
        transform: translatex(110%);
    }
    100% {
        transform: translatex(0);
    }
}
  
  

.button {
    background-color: #1E776D;
    border-radius: 4px;
}

a {
    margin-top: 0;
    font-size: 8vw;
    letter-spacing: 9px;
    font-family: 'Bebas Neue', cursive;
    color: #024C42;
}
.search-button {
    border-radius: 25px;
    margin: 5px
}

.opening-header {
    text-align: center;
    margin-top: 10px;
}

.opening-button {
    margin: 6px 1px 10px 1px;
    padding: 1px;
    border-radius: 3px;
}

.player-bio-name {
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
    font-size: 22px;
}

.player-bio {
    margin: 0 0 0 0;
    padding: 8px 0 0 0;
    font-size: 13px;
}

.player-picture {
    margin: 15px 0 0 0;
    padding: 0 5px 0 5px;
}

.my-board {
    margin: 0;
    padding: 0;
}

.hint-button {
    margin: 10px 0 0 85%;
    padding: 4px;
    border-radius: 4px;
}

.search {
    margin: 10px auto 10px 10px;
}
#search-bar {
    width: auto;
    height: auto;
}
#profile-scroll {
    overflow: auto;
    white-space: nowrap;
    height: auto;
    width: auto;
}
.profile-pictures {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    height: auto;
    width: auto;
}



#top-players {
    border-radius: 8px;
    width: 40%;
    height: 40%;
}

#Opening_1 {
    font-style: italic;
    width: 10%;
}
#placeholder {
    font-style: italic;
    width: 10%;
}
.footer {
    
    width: 100%;
    font-size: 1rem;
    color: #777;
    margin: 0px;
    padding: 0px;
}

.reveal {
    width: 35vw;
    min-height: 20vh;
    height: 20vh;
    border-radius: 8px;
    margin: 0 auto 0 auto;
}

.reveal-link {
    margin: 5px 0 10px 10px;
}


.high-score {
    margin: 5px 10px 10px 0;

}

.score-hint {
    display: flex;
    justify-content: center;
}

/* MEDIA QUERY for Tablets */
@media screen and (min-width: 500px) {
    
    #top-players {
       
        width: 20%;
        height: 20%;
    }

    .player-picture {
        margin: 15px 10% 0 0;
    }

    .player-bio {
        margin: 5px 0 0 10px;
        font-size: 26px;
    }

    .player-bio-name {
        margin: 10px 0 0 10px;
        font-size: 36px;
    }

    .opening-button {
        font-size: 22px;
        margin: 6px 11px 10px 11px;
        padding: 7px;
    }
    
    .no_header_or_footer {
        
        height: 85vh;
    }

    
    .my-board {
        width: 75vw;
        margin: 0 auto 0 auto;
    }

    #search-bar {
        display: flex;
        justify-content: center;
        margin: 0 auto 0 auto;
        
        width: 70%;
    }

    .grid-x > .small-3 {
        width: 14%;
    }
    
    .grid-x > .small-8 {
        width: 35%;
      
    }
}


/* MEDIA QUERY for Desktop */
@media screen and (min-width: 1000px) {

    #top-players {
        width: 12%;
        height: 12%;
    }
    .my-board {
        width: 35vw;
        margin: 0 auto 0 auto;
    }



}