* {
    padding: 0px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.no_header_or_footer {
    padding: 20px;
    margin: auto;
    background-color: #333;
}
.header {
    border: 10px solid black;
    background-color: black;
    margin: 0px;
    padding: 0px;
}
#CHESS-MASTER {
    border: 5px solid Black;
    border-radius: 8px;
    background-color:#333;
    color:#777;
    text-decoration: underline;
    text-decoration-color: #333;
}
#search-bar {
    position: absolute;
    right: 800px;
    top: 20px;
    width: auto;
    height: auto;
}
#search-button {
    position:absolute;
    left:760px;
    bottom: 0px;
}
#search {
    width: 450%;
}
#profile-scroll {
    background-color: black;
    overflow: auto;
    white-space: nowrap;
}
.profile-pictures {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.profile-pictures:hover {
    background-color: #777;
}
/* #top-players {

} */
#magnuscarlsen {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
#hikaru {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
#danielnaroditsky {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
#anishgiri {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
#gothamchess {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
#firouzja2003 {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
#chessboard-img {
    border-radius: 8px;
    width: 600px;
    height: 600px;
}
#Opening_1 {
    font-style: italic;
    width: 10%;
}
#placeholder {
    font-style: italic;
    width: 10%;
}
.footer {
    font-size: small;
    border: 5px solid #333;
    background-color: #333;
    color: #777;
    margin: 0px;
    padding: 0px;
}
/* #rights-reserved {
    position: absolute;

}
#made-by {
    position: absolute;

} */
/* @media screen and (max-width: 980px) {
    #chessboard-img {
        border-radius: 8px;
        width: 500px;
        height: 500px;
    }
} */