* {
    padding: 0px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.no_header_or_footer {
    padding: 20px;
    margin: auto;
}
.header {
    border: 5px solid black;
    margin: 0px;
    padding: 0px;
}
.CHESS-MASTER {
    border: 5px solid orange;
    
}
#profile-scroll {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}
.profile-pictures {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.profile-pictures:hover {
    background-color: #777;
}
/* #top-players {

} */
#magnuscarlsen {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
#hikaru {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
#danielnaroditsky {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
#anishgiri {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
#gothamchess {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
#firouzja2003 {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
#chessboard-img {
    border-radius: 8px;
    width: 600px;
    height: 600px;
}
.footer {
    border: 5px solid black;
    margin: 0px;
    padding: 0px;
    
}
/* @media screen and (max-width: 980px) {
    #chessboard-img {
        border-radius: 8px;
        width: 500px;
        height: 500px;
    }
} */